<p id="notice"><%= notice %></p>

<h1>Listing ALL Entries for ALL tickets for logged in user</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Ticket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.start %></td>
        <td><%= entry.end %></td>
        <td><%= link_to entry.ticket.id.to_s, entry.ticket, class: 'btn btn-primary'  %></td>
        <td><%= link_to 'Show entry', ticket_entry_path(entry.ticket, entry), class: 'btn btn-primary'  %></td>
        <td><%= link_to 'Edit entry', edit_ticket_entry_path(entry.ticket, entry), class: 'btn btn-success'  %></td>
        <td><%= link_to 'Destroy entry', ticket_entry_path(entry.ticket, entry), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', "/", class: 'btn btn-info' %>
