<p id="notice"><%= notice %></p>

<h1>Listing ALL Entries for ALL tickets for logged in user</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Ticket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.start %></td>
        <td><%= entry.end %></td>
        <td><%= entry.ticket ? entry.ticket.id : "?" %></td>
        <td><%= link_to 'Show', ticket_entry_path(entry.ticket, entry) %></td>
        <td><%= link_to 'Edit', edit_ticket_entry_path(entry.ticket, entry) %></td>
        <td><%= link_to 'Destroy', ticket_entry_path(entry.ticket, entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', "/" %>
