<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @entry.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @entry.end %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @entry.ticket %>
</p>

<%= link_to 'Edit', edit_ticket_entry_path(@ticket, @entry) %> |
<%= link_to 'Back', ticket_path(@ticket) %>
