<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Work order</th>
      <th>Job code</th>
      <th>Quantity</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'ticket_body' %>
  </tbody>
</table>

<p>
<%= link_to 'New Ticket', new_ticket_path, class: 'btn btn-success' %>
</p>

<br>
<hr>
<p>
View all tickets starting 24 hours after:
<%= form_tag(alltickets24_path()) do %>
  <div class="field">
    <%= label_tag(:q, "Start date:") %><br>
    <%= select_date Date.today, prefix: :date %>
  </div>
  <div class="actions">
    <%= submit_tag("Search") %>
  </div>
<% end %>
</p>



<br>
<hr>
<p>
Download all tickets in 24 range starting at:
<%= form_tag(download24hour_path()) do %>
  <div class="field">
    <%= label_tag(:q, "Start date:") %><br>
    <%= select_date Date.today, prefix: :start_date %>
  </div>
  <div class="actions">
    <%= submit_tag("Download") %>
  </div>
<% end %>
</p>



<br>
<hr>
<p>
Download CSV of all tickets and entries between:
<%= form_tag(searchtickets_path()) do %>
  <div class="field">
    <%= label_tag(:q, "Start date:") %><br>
    <%= select_date Date.today, prefix: :start_date %>
  </div>
  <div class="field">
    <%= label_tag(:q, "End date:") %><br>
    <%= select_date Date.tomorrow, prefix: :end_date %>
  </div>
  <div class="actions">
    <%= submit_tag("Download") %>
  </div>
<% end %>
</p>


<hr>
<p>
<%= link_to 'View All Time Entries current user', allentries_path, class: 'btn btn-primary' %>
</p>
