<h2>Ticket <%=@ticket.id %></h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @ticket.date %>
</p>

<p>
  <strong>Work order:</strong>
  <%= @ticket.work_order %>
</p>

<p>
  <strong>Job code:</strong>
  <%= @ticket.job_code %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ticket.quantity %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user ? @ticket.user.email : "" %>
</p>


<%= link_to 'Edit ticket', edit_ticket_path(@ticket), class: 'btn btn-success' %>

<br>
<hr>

<h3>New Entry</h3>

<%= render 'entry_form' %>

<br>
<hr>

<h3>Entries for current ticket</h3>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket.entries.each do |entry| %>
      <tr>
        <td><%= entry.start %></td>
        <td><%= entry.end %></td>
        <td><%= link_to 'Edit', edit_ticket_entry_path(@ticket, entry), class: 'btn btn-success' %></td>
        <td><%= link_to 'Destroy', ticket_entry_path(@ticket, entry), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>

<%= link_to 'Back', tickets_path, class: 'btn btn-info' %>
